@@layout
<% title = @title %>
<!doctype html>
<html lang='en'>
<head>
	<link type="text/css" rel="stylesheet.css" href="stylesheet.css"/>
	<title> <% title %> </title>
	<meta charset="utf-8">
</head>
<body>
	<header>
		<h1>
			<title>@title</title>
			<img src="http://fc07.deviantart.net/fs71/i/2011/161/5/d/mostar__old_bridge_by_citizenfresh-d3iitml.jpg" alt="Mostar">
		</h1>
		<nav>
			<ul1>
				<li><a href="/" title="Homepage">Homepage</a></li>
				<li><a href="/Onezerozerozero" title="Onezerozerozero">Onezerozerozero</a></li>
				<li><a href="/Oneonezerozero" title="Oneonezerozero">Oneonezerozero</a></li>
				<li><a href="/Zerozerozeroone" title="Zerozerozeroone">Zerozerozeroone</a></li>
				<li><a href="/Zerozeroonezero" title="Zerozeroonezero">Zerozeroonezero</a></li>
				<li><a href="/Onezeroonezero" title="Onezeroonezero">Onezeroonezero</a></li>
				<li><a href="/Zerooneoneone" title="Zerooneoneone">Zerooneoneone</a></li>
				<li><a href="/Oneoneoneone" title="Oneoneoneone">Oneoneoneone</a></li>
				<li><a href="/Zerooneonezero" title="Zerooneonezero">Zerooneonezero</a></li>			
				
			</ul>
		</nav>
	</header>
	<section>
		<%= yield % >		
	</section>
</body>
</html>
@@home 
<p> @title; 
@Text_one</p>

@@Onezerozerozero
<p>@prologue</p>

@@Oneonezerozero
<p>story1</p>

@@Zerozerozeroone
<p>story2</p>

@@Zerozeroonezero
<p>blocks of theory - or perhaps I leave them out completely, I have to made up my mind yet</p>

@@Onezeroonezero
<p>blocks of theory - or perhaps I leave them out completely, I have to made up my mind yet</p>

@@Zerooneoneone
<p>I would like to thank blabla and bla for making me dinner and supporting me mentally in the past few very tough months</p>

@@Oneoneoneone
<p>all great theorists who helped me to further my thinking about my problems</p>

@@Zerooneonezero
<p>self reflections and the cultural analyst</p>
